.header-container {
    display: flex;
    align-items: baseline;
    background-color: #033048;
    padding: 20px 10%;
  }
  h1 {
    max-width: 25%;
  }
  .logo {
    font-size: 24px;
    font-weight: 800;
    color:  #f0efef;
  }
  .nav {
    flex-basis: 100%;
  }
  .nav a:hover {
    background-color: #f9e42e;
    color: #033048;
  }
  .list {
    max-width: 75%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
  .list a {
    text-decoration: none;
    display: block;
    color:  #f9e42e;
    font-size: 24px;
    font-weight: 600;
    padding: 0.1em;
    border-radius: 5%;
  }
  .list li {
    margin: 0 1.5%;
  }
 