.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .content {
    flex-basis: 100%;
   }
  .aside {
    max-width: 24%;
    order: 1;
    flex-direction: column;
  }
  .article {
    max-width: 74%;
    flex-direction: column;
    flex-grow: 1;
  }
  .img {
    max-width: 100%;
    background-color: #033048; 
  }
  .main {
    background-color: #f0efef;
    padding-right: 10%;
    padding-left: 10%;
  }
  
  /* main article */
  
  article {
    border-bottom: 1px solid #033048;
    margin: 4rem 0;
  }
  h2 {
    font-size: 40px;
    font-weight: 600;
    /* margin-bottom: 1rem; */
  }
  .subhead::first-letter {
    float: left;
    font-size: 4rem;
    font-weight: 600;
    padding-right: 10px;
  }
  article a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: #033048;
  }
  .readmore {
    display: block;
    margin: 2rem 0;
    text-align: end;
  }
  .text a:hover {
    font-weight: 800;
  }
  .img {
    margin: 1rem 0; 
    display: block;
    object-fit: cover;
  }
  
  /* main aside */
  
  aside div {
    margin: 4rem 0;
  }
  
  h3 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  .categories a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    color: inherit;
  }
  .categories a:hover {
    font-weight: 600;
  }
  .categories li {
    margin-bottom: 0.5rem;
  }
  .about a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: inherit; 
  }
  .about a:hover {
    font-weight: 800;
  }
  .about p {
    margin-bottom: 0.3rem;
  }
  
  .ad {
    height: 600px;
    width: 90%;
    background-color: #fff;
    text-align: center;
    font-weight: 600;
  }